<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DataFolder" value="C:\Work\OPA\Data"/>
    <add key="LemmatizerModel" value="C:\Work\Obeliks\Obeliks\Models\LemmatizerMar2013.bin"/>
    <add key="PosTaggerModel" value="C:\Work\Obeliks\Obeliks\Models\TaggerMar2013.bin"/>
    <add key="OutputFolder" value="C:\Work\OPA\Data\Out"/>
    <add key="BlogMetaDataFile" value="C:\Work\OPA\Data\BlogMetaData.txt"/>
    <add key="TmpFolder" value="C:\Work\OPA\Tmp"/>
    <add key="ParserModelFile" value="C:\Work\OPA\Parser\parser_models\ssj500k.model"/>
    <add key="ParserFolder" value="C:\Work\OPA\Parser"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
