<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DataFolder" value="C:\Work\OPA\Data\Posts"/>
    <add key="LemmatizerModel" value="C:\Work\OPA\Models\LemmatizerMar2013.bin"/>
    <add key="PosTaggerModel" value="C:\Work\OPA\Models\TaggerMar2013.bin"/>
    <add key="OutputFolder" value="C:\Work\OPA\Data\Parsed"/>
    <add key="BlogMetaDataFile" value="C:\Work\OPA\Data\BlogMetaData.txt"/>
    <add key="TmpFolder" value="C:\Work\OPA\Tmp"/>
    <add key="ParserModelFile" value="C:\Work\OPA\Parser\parser_models\ssj500k.model"/>
    <add key="ParserFolder" value="C:\Work\OPA\Parser"/>
    <add key="JavaArgs" value="-Xmx5g -XX:+UseConcMarkSweepGC -XX:-UseGCOverheadLimit"/>
    <add key="BatchSize" value="50"/>
  </appSettings>
</configuration>
