<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DataFolder" value="C:\Work\OPA\Data\Parsed"/>
    <add key="OutputFolder" value="C:\Work\OPA\Data\Final"/>
    <add key="HtmlFolder" value="C:\Work\OPA\Data\Final\Html"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
